BODY {
	MARGIN: 0px
}
P {
	MARGIN: 0px
}
BODY {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TABLE {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
A {cursor: pointer; }

A:link {
	 TEXT-DECORATION: none
}
A:visited {
	 TEXT-DECORATION: none
}
A:hover {
	 TEXT-DECORATION: underline
}
A.menuChild:link {
	 TEXT-DECORATION: none
}
A.menuChild:visited {
	 TEXT-DECORATION: none
}
A.menuChild:hover {
	 TEXT-DECORATION: underline
}
A.menuParent:link {
	 TEXT-DECORATION: none
}
A.menuParent:visited {
	 TEXT-DECORATION: none
}
A.menuParent:hover {
	 TEXT-DECORATION: none
}
TABLE.position {
	WIDTH: 100%
}
TR.position {
	HEIGHT: 25px; BACKGROUND-COLOR: #f4f7fc
}
TD.position {
	BORDER-RIGHT: #adceff 1px solid; PADDING-LEFT: 20px; BORDER-BOTTOM: #adceff 1px solid
}
TABLE.listTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee
}
TR.listHeaderTr {
	FONT-WEIGHT: bold; HEIGHT: 25px; BACKGROUND-COLOR: #ebf4fd; TEXT-ALIGN: center
}
TR.listTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
TR.listAlternatingTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #fffdf0; TEXT-ALIGN: center
}
TR.listFooterTr {
	HEIGHT: 30px; BACKGROUND-COLOR: #ebf4fd; TEXT-ALIGN: center
}
TABLE.editTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee
}
TR.editHeaderTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #ebf4fd
}
TD.editHeaderTd {
	PADDING-LEFT: 50px; FONT-WEIGHT: bold
}
TR.editTr {
	HEIGHT: 30px
}
TD.editLeftTd {
	WIDTH: 150px; BACKGROUND-COLOR: #fffdf0; TEXT-ALIGN: center
}
TD.editRightTd {
	PADDING-LEFT: 10px; BACKGROUND-COLOR: #fff
}
TR.editFooterTr {
	HEIGHT: 40px; BACKGROUND-COLOR: #ebf4fd
}
TD.editFooterTd {
	PADDING-LEFT: 150px
}
ul{
	list-style: none;
}

.hide{
	display: none;
}

.itemParam ul{
	padding-left: 0px;
}
.itemParam li{
	line-height: 25px;
}

.itemForm .pics ul{
	list-style: none;
	padding-left: 0px;
}
.itemForm .pics ul li{
	float: left;
	padding-right: 5px;
}
.itemForm .group{
	font-weight: bold;
	text-align: center;
	background-color: #EAEAEA;
}
.itemForm .param{
	width: 80px;
	text-align: right;
}
LI{cursor: pointer; }

LI:link {
	 TEXT-DECORATION: none
}
LI:visited {
	 TEXT-DECORATION: none
}
LI:hover {
	 TEXT-DECORATION: underline
}
LI.menuChild:link {
	 TEXT-DECORATION: none
}
LI.menuChild:visited {
	 TEXT-DECORATION: none
}
LI.menuChild:hover {
	 TEXT-DECORATION: underline
}
LI.menuParent:link {
	 TEXT-DECORATION: none
}
LI.menuParent:visited {
	 TEXT-DECORATION: none
}
LI.menuParent:hover {
	 TEXT-DECORATION: none
}
